*{
  margin : 0;
  padding : 0;
}

.center-flexing{
  display : flex;
  justify-content : center;
  align-items : center;
}

.div-cntr{
  display : flex;
  justify-content : center;
  align-items : center;
}

#home{
  padding : 2%;
  width : 98%;
}

body{
  font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display : flex;
  flex-direction : column;
  padding : 2%;
  align-items : center;
  background-color : black;
}


header{
  height : 10rem;
  background-color : hsl(0, 0%, 10%);
  display : flex;
  justify-content:  space-between;
  align-items: center;
  width : 90%;
  height : 5rem;
  border-radius: 3px;
  padding : 2%;
  border : 2px dashed hsl(0, 0%, 12%);
  
}

nav{
  background-color : hsl(0, 0%, 12%);
  display : flex;
  justify-content : space-around;
  align-items : center;
  width : 20rem;
  border-radius: 5px;
  border : 1px solid hsl(0, 0%, 15%);
  height : 2.5rem;
  animation : appear linear;
  animation-timeline: view();
}
nav a{
  font-weight : bold;
  text-decoration : none;
  color : hsl(0, 0%, 85%);
  font-size : 1rem;
}

nav a:hover{
  font-weight: bolder;
  color : yellow;
}

#btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration : none;
  background-color: black;
  height : 2rem;
  color : hsl(0, 0%, 90%);
  width : 10rem;

  border-radius : 5%;
  padding: 1%;
  z-index: 100;
  transition: 0.3s ease-in-out;  
}


#btn img{
  height : 3rem;
  width : 3rem;
  border-radius: 50%;
  transition:  0.2s ease-in-out;
}

#btn img:hover{
  transform: rotate(-20deg);

}
#btn:hover{
  font-weight: bolder;
  color : yellow;
}

#home{
  display: flex;
  justify-content: space-between;
  width : 90%;
  align-items: center;
  gap : rem;
  height : 80vh;
  background : hsl(0, 0%, 5%);
}

#hero-text{
  color : hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  gap : 2rem;
  justify-content: center;

}

#hero-text h1{
  font-weight: bolder;
  font-size : 120px;

#hero-text span{
  font-weight: bold;

}
}
svg{
  background: transparent;
}

#shoping-animation img{
  border : 2px solid  hsl(0, 0%, 50%);
}



#about{
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap : 10rem;
  border-radius: 1%;

  height: 35rem;
  width : 78%;
  padding : 2%;
  
}

#about:hover{
  background-color: hsl(0, 0%, 8%);
}

#about-text{
  display: flex;
  flex-direction: column;
  gap : 10rem;
  color : hsl(0, 0%, 85%);
}

#about-text h1{
  color : hsl(0, 0%, 90%);
  font-weight : bold;
}

#about img{
  width : 25rem;
  height : 20rem;
  transition: 3s ease-in-out;
  border-radius: 5%;

}

#about-img{
  background: #191919;
  height : 22rem;
  width : 25rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding : 1%;
  transition: 3s ease-in-out;
}

#about-img:hover{
  background-image: linear-gradient(red, blue);
}

#contact {
  box-shadow: 0 0 20px 5px rgb(0, 255, 47);
  animation : appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  height : 10rem;
  background-color: rgb(0, 0, 0);
  width : 78%;
  padding: 2%;
  color : hsl(0, 0%, 80%);
  display : flex;
  justify-content: center;
  align-items: center;
}

footer{
  height : 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color : hsl(0, 0%, 50%)
}

@keyframes appear{

  from{
    opacity : 0;
    scale  :0.5;
  }
  to{
    opacity : 1;
    scale : 1;
  }
  
}

